<div class="tempalte">
  <div class="content">
    <div class="menu">
      <div class="line">
        <div class="feed_solid"><img src="assets/feedsolid-icon.svg" alt="" class="icon" /></div>
        <div class="unnamed">Главное меню</div>
      </div>
      <div class="line2">
        <div class="switch_solid"><img src="assets/switchsolid-icon.svg" alt="" class="icon2" /></div>
        <div class="unnamed2">Панели</div>
      </div>
      <div class="line3">
        <div class="switch_solid2">
          <div class="materialSymbolsChat">
            <img src="assets/material-symbols-chat-icon.svg" alt="" class="icon3" />
          </div>
        </div>
        <div class="unnamed3">Чаты</div>
      </div>
      <div class="line4">
        <div class="customization_solid"><img src="assets/customizationsolid-icon.svg" alt="" class="icon4" /></div>
        <div class="unnamed4">Настройки</div>
      </div>
      <div class="line5">
        <div class="mail_solid"><img src="assets/mailsolid-icon.svg" alt="" class="icon5" /></div>
        <div class="unnamed5">Уведомления</div>
      </div>
      <div class="line6">
        <div class="emoji_solid">
          <div class="emoji_solid2"><img src="assets/emojisolid-icon.svg" alt="" class="icon6" /></div>
        </div>
        <div class="unnamed6">О приложении</div>
      </div>
    </div>
    <div class="chat">
      <div class="base"></div>
      <div class="base2"></div>
      <div class="unnamed7">Свободно</div>
      <div class="unnamed8">Свободно</div>
      <div class="base3"></div>
      <div class="unnamed9">Свободно</div>
      <div class="base4"></div>
      <div class="unnamed10">Свободно</div>
      <div class="base5"></div>
    </div>
    <div class="unnamed11">Руководство организации</div>
    <div class="tabs">
      <div class="base6"></div>
      <div class="base7"></div>
      <div class="light">Light</div>
      <div class="dark">Dark</div>
      <div class="sun_solid"><img src="assets/sunsolid-icon.svg" alt="" class="icon7" /></div>
      <div class="moon_solid"><img src="assets/moonsolid-icon.svg" alt="" class="icon8" /></div>
    </div>
    <div class="navigate">
      <div class="eMSApplication">EMS Application</div>
      <div class="base8"></div>
      <div class="base9"></div>
      <div class="jacksonD">Elvis!</div>
      <div class="mananger">Dev</div>
      <div class="icon9"><img src="assets/navigate-icon.svg" alt="" class="icon10" /></div>
      <div class="icon11">
        <div class="onOff_solid"><img src="assets/on-offsolid-icon.svg" alt="" class="icon12" /></div>
      </div>
    </div>
    <div class="_24124_1x1"></div>
  </div>
</div>
<div class="tempalte2">
  <div class="content2">
    <div class="menu2">
      <div class="line7">
        <div class="feed_solid2"><img src="assets/feedsolid-icon2.svg" alt="" class="icon13" /></div>
        <div class="unnamed12">Главное меню</div>
      </div>
      <div class="line8">
        <div class="switch_solid3"><img src="assets/switchsolid-icon2.svg" alt="" class="icon14" /></div>
        <div class="unnamed13">Панели</div>
      </div>
      <div class="line9">
        <div class="switch_solid4">
          <div class="materialSymbolsChat2">
            <img src="assets/material-symbols-chat-icon2.svg" alt="" class="icon15" />
          </div>
        </div>
        <div class="unnamed14">Чаты</div>
      </div>
      <div class="line10">
        <div class="customization_solid2"><img src="assets/customizationsolid-icon2.svg" alt="" class="icon16" /></div>
        <div class="unnamed15">Настройки</div>
      </div>
      <div class="line11">
        <div class="mail_solid2"><img src="assets/mailsolid-icon2.svg" alt="" class="icon17" /></div>
        <div class="unnamed16">Уведомления</div>
      </div>
      <div class="line12">
        <div class="emoji_solid3">
          <div class="emoji_solid4"><img src="assets/emojisolid-icon2.svg" alt="" class="icon18" /></div>
        </div>
        <div class="unnamed17">О приложении</div>
      </div>
    </div>
    <div class="chat2">
      <div class="base10"></div>
      <div class="base11"></div>
      <div class="unnamed18">Свободно</div>
      <div class="unnamed19">Свободно</div>
      <div class="base12"></div>
      <div class="unnamed20">Свободно</div>
      <div class="base13"></div>
      <div class="unnamed21">Свободно</div>
      <div class="base14"></div>
    </div>
    <div class="unnamed22">Руководство организации</div>
    <div class="tabs2">
      <div class="base15"></div>
      <div class="base16"></div>
      <div class="light2">Light</div>
      <div class="dark2">Dark</div>
      <div class="sun_solid2"><img src="assets/sunsolid-icon2.svg" alt="" class="icon19" /></div>
      <div class="moon_solid2"><img src="assets/moonsolid-icon2.svg" alt="" class="icon20" /></div>
    </div>
    <div class="navigate2">
      <div class="eMSApplication2">EMS Application</div>
      <div class="base17"></div>
      <div class="base18"></div>
      <div class="jacksonD2">Elvis!</div>
      <div class="mananger2">Dev</div>
      <div class="icon21"><img src="assets/navigate-icon2.svg" alt="" class="icon22" /></div>
      <div class="icon23">
        <div class="onOff_solid2"><img src="assets/on-offsolid-icon2.svg" alt="" class="icon24" /></div>
      </div>
    </div>
    <div class="_24124_1x12"></div>
  </div>
</div>
<div class="appClip">
  <div class="image"></div>
  <div class="nameDesc"><div class="unnamed23">ПМП панель</div></div>
  <div class="unnamed24">ПМП панель для оказания помощи, принятия вызов.</div>
  <button class="openButton"><div class="unnamed25">Открыть</div></button>
  <div class="separator"></div>
</div>
<div class="appClip2">
  <div class="image2"></div>
  <div class="_1"></div>
  <div class="_1233121"></div>
  <div class="nameDesc2"><div class="unnamed26">СЭС панель</div></div>
  <div class="unnamed27">СЭС панель для проверок и отыгровок.</div>
  <button class="openButton2"><div class="unnamed28">Открыть</div></button>
  <div class="separator2"></div>
</div>
<div class="appClip3">
  <div class="image3"></div>
  <div class="nameDesc3">
    <div class="unnamed29">
      <div class="textBlock">Основная панель</div>
      <div class="textBlock2"><p></p></div>
    </div>
  </div>
  <div class="unnamed30">Основная панель для выдачи таблеток и медицинских карт.</div>
  <div class="separator3"></div>
</div>
<div class="appClip4">
  <div class="image4"></div>
  <div class="_123423345341"></div>
  <div class="nameDesc4"><div class="null">null</div></div>
  <div class="null2">null</div>
  <button class="openButton3"><div class="unnamed31">Открыть</div></button>
  <div class="separator4"></div>
</div>
<div class="appClip5">
  <div class="image5"></div>
  <div class="_123423345342"></div>
  <div class="nameDesc5"><div class="null3">null</div></div>
  <div class="null4">null</div>
  <button class="openButton4"><div class="unnamed32">Открыть</div></button>
  <div class="separator5"></div>
</div>
<div class="appClip6">
  <div class="image6"></div>
  <div class="cvnvbnxcvxc1"></div>
  <div class="nameDesc6"><div class="unnamed33">Панель доп.отыгровок</div></div>
  <div class="unnamed34">Здесь собраны все полезные отыгровки вашей фракции!</div>
  <button class="openButton5"><div class="unnamed35">Открыть</div></button>
  <div class="separator6"></div>
</div>
