:host,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  flex-shrink: 0;
  text-decoration: none;
  min-width: 0;
  overflow-wrap: anywhere;
}

:host,
:not(span, a, ul, ol, li, p) {
  display: flex;
}

ul,
ol {
  text-indent: 0;
  padding-inline-start: 1.5em;
}

p:empty::before {
  content: '';
  display: inline-block;
}

img {
  object-fit: contain;
}

svg {
  overflow: visible;
}

:host {
  position: absolute;
  left: 48px;
  top: 1096px;
  width: min-content;
  height: min-content;
  padding: 6px;
  outline: solid 1px #f2f4f7;
  outline-offset: 0px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 1px 3px 0px #606c800d;
}
